@import "./_variables.scss";

* {
  margin: 0;
  font-family: "Inter", sans-serif;
  white-space: pre;
}

#root {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $bg;
  color: $fg;
}

svg {
  margin: 0 0.5rem 0 0 !important;
}
button {
  background: none;
  border: none;
  color: $fg;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
