@import "./_variables.scss";

.notes {
  @include border;
  margin-bottom: 1rem;

  li {
    display: flex;
    padding: 0.5rem;

    b {
      flex: 1;
    }
    & :last-child:not(:first-child) {
      margin-left: 2rem;
    }
    &:not(:last-child) {
      border-bottom: $border;
    }
    .date {
      margin-left: 3.5rem !important;
    }
  }
  .note,
  .button {
    cursor: pointer;
    transition: background 250ms ease-in-out;
    &:hover {
      background: $highlight;
    }
  }
  .button {
    background: $highlight;
    &:hover {
      background: $hover;
    }
  }
}
